<ion-header>
  <ion-toolbar>
    <ion-title>upload Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <app-loading *ngIf="busy"></app-loading>

  <div class="center">
<div class="camera"></div>
<input type="file"  *ngIf="!ImageUrl" (change)="fileChanges($event)" class="filebtn" #filebtn/>
<ion-button shape="round" color="primary" (click)="uploadFile()" *ngIf="!ImageUrl" fill="outline">Upload File</ion-button>
<ion-card *ngIf="ImageUrl">
  <img  src="https://ucarecdn.com/{{ImageUrl}}/"/>
<ion-card-content>
  <ion-textarea [(ngModel)]="desc" placeholder=" Enter Some Description"></ion-textarea>
  <ion-button shape="round" color="primary" (click)="save()">Post</ion-button>
</ion-card-content>
</ion-card>
</div>
</ion-content>
